# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# MLflow
mlruns/



# Dataset
data/raw/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env